.wrapper {
    font-size: 1.6rem;
    font-weight: 700;
    padding: 9px 16px;
    min-width: 100px;
    border-radius: 4px;
    cursor: pointer;
    background: var(--white);
    border: 1px solid transparent;
}

.primary {
    color: var(--white);
    background-color: var(--primary);

    &:hover {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), #FE2C55;
    }
}

.outline {
    border-color: var(--primary);
    color: var(--primary);

    &:hover {
        background: rgba(254, 44, 85, 0.08);
    }
}

20:00