.wrapper {
    font-size: 1.6rem;
    font-weight: 700;
    padding: 9px 16px;
    min-width: 100px;
    border-radius: 4px;
    cursor: pointer;
    background: var(--white);
    border: 1px solid transparent;
    user-select: none; //ngăn người dùng chọn hoặc cpoy văn bản

    +.wrapper {
        margin-left: 8px;
    }

    &.disable {
        pointer-events: none; //không nhận sự kiện click, hover,...
    }
}

.text {
    &:hover {
        text-decoration: underline;
    }
}

.rounded {
    border-radius: 52px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
    border-color: rgba(22, 24, 35, .12);

    &:hover {
        border-color: rgba(22, 24, 35, 0.2);
        background-color: rgba(255, 255, 255, 0.03);
    }
}

.primary {
    color: var(--white);
    background-color: var(--primary);
    border-color: var(--primary);

    &:hover {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), #FE2C55;
    }
}

.outline {
    color: var(--primary);
    border-color: currentColor;

    &:hover {
        border-color: currentColor;
        background: rgba(254, 44, 85, 0.08);
    }
}

.small {
    min-width: 88px;
    padding: 4px 16px;
}

.large {
    min-width: 168px;
    padding: 14px 16px;
}

